* {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "circe";
  font-style: normal;
  font-weight: normal;
  src: local("circe"), url("/fonts/circe.ttf") format("ttf");
}

@font-face {
  font-family: "cormorant-regular";
  font-style: normal;
  font-weight: normal;
  src: local("cormorant-regular"), url("/fonts/cormorant-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Plumb";
  font-style: normal;
  font-weight: bold;
  src: local("Plumb"), url("/fonts/Plumb-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Plumb";
  font-style: normal;
  font-weight: medium;
  src: local("Plumb"), url("/fonts/Plumb-Medium.ttf") format("ttf");
}

header {
  width: 1920px;
  height: 800px;

  background-image: url("/IMG/bgc.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-menu {
  /* background-color: darkgoldenrod; */
  display: flex;
  align-items: center;
  margin: 34px 180px 0;
}

.logo {
  margin-top: -2px;
  margin-right: 272px;
}

.menu,
.selected-lang {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}

.menu {
  margin-top: 1px;
  margin-right: 317px;
  list-style-type: none;
  display: flex;
  gap: 47px;
}

.lang-search-container {
  display: flex;
  align-items: start;
  margin-top: -3px;
}

.search__button {
  width: 20px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin-right: 70px;
  /* margin-top: -2px; */

  background-image: url("/IMG/Search.svg");
}

.language {
  margin-right: 12px;
}

.selected-lang {
  align-self: flex-end;
  margin-top: 5px;
}
