:root {
  --block_wrapper_color_1: rgb(35, 120, 252);
  --block_wrapper_color_2: rgb(48, 188, 201);
  --block_wrapper_color_3: rgb(255, 196, 30);
  --block_wrapper_color_4: rgb(246, 64, 79);
}

* {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
hr {
  color: rgb(255, 255, 255);
  border: 1px normal;
  margin-top: 30px;
}

@font-face {
  font-family: "circe";
  font-style: normal;
  font-weight: normal;
  src: local("circe"), url("/fonts/circe.ttf") format("ttf");
}

@font-face {
  font-family: "cormorant-regular";
  font-style: normal;
  font-weight: normal;
  src: local("cormorant-regular"), url("/fonts/cormorant-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Plumb";
  font-style: normal;
  font-weight: bold;
  src: local("Plumb"), url("/fonts/Plumb-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Plumb";
  font-style: normal;
  font-weight: medium;
  src: local("Plumb"), url("/fonts/Plumb-Medium.ttf") format("ttf");
}

header {
  width: 1920px;
  height: 800px;
  background-image: url("/IMG/bgc.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* main menu */
.header-menu {
  display: flex;
  align-items: center;
  margin: 34px 180px 0;
}

.logo {
  margin-top: -2px;
  margin-right: 272px;
}

.menu,
.selected-lang {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}

.menu {
  margin-top: 1px;
  margin-right: 317px;
  display: flex;
  gap: 47px;
}

.lang-search-container {
  display: flex;
  align-items: start;
  margin-top: -3px;
}

.search__button {
  width: 20px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  margin-right: 70px;
  background-image: url("/IMG/Search.svg");
}

.language {
  margin-right: 12px;
}

.selected-lang {
  align-self: flex-end;
  margin-top: 5px;
}

/* first-screen */
.first-screen {
  display: flex;
}

.first-screen__title {
  display: flex;
  flex-direction: column;
  margin-top: 184px;
  margin-left: 403px;
}

.first-screen__title h1 {
  font-family: Plumb;
  font-size: 64px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 8px;
}

.first-screen__title span {
  font-family: Circe;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 26px;
  margin-left: 2px;
}

.first-screen__title a {
  font-family: Circe;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  margin-left: 2px;
}

.arrow {
  margin-left: 7px;
}

.first-screen__block-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  height: 353px;
  margin-top: 304px;
  margin-left: 112px;
}

.first-screen__block-wrapper li {
  width: 175px;
  display: flex;
  flex-direction: column;
  padding: 31px 40px 29px;
  gap: 14px;
}

.first-block {
  background-color: var(--block_wrapper_color_1);
}

.second-block {
  background-color: var(--block_wrapper_color_2);
}

.third-block {
  background-color: var(--block_wrapper_color_3);
}

.fourth-block {
  background-color: var(--block_wrapper_color_4);
}

.first-screen__block-wrapper span {
  font-family: Plumb;
  font-size: 21px;
  font-weight: 550;
  line-height: 130%;
}

.first-screen__block-wrapper a {
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
}

.first-screen__block-wrapper img {
  margin-left: 7px;
}
